body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.back-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 20px;
}

.back-button:hover {
    background-color: #0056b3;
}

form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"], select {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td a {
    margin-right: 10px;
    text-decoration: none;
    color: #007bff;
}

td a:hover {
    text-decoration: underline;
}

.add-button button {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-button button:hover {
    background-color: #218838;
}

.modal.fade.show {
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.modal-dialog {
    max-width: 400px;
}

.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #3b3b3b;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.modal-title {
    font-weight: bold;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    border-top: none;
    padding: 10px 20px;
}

.btn-danger {
    background-color: #e62538;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}
